<!DOCTYPE HTML>
<head>
	<meta charset="UTF-8">
	<meta name="robots" content="noindex,nofollow">
	<title>my / ka</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	<link rel="icon" href={{ url_for('static', filename='favicon.ico') }}>

	<link href='http://fonts.googleapis.com/css?family=Lily+Script+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Milonga' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Noto+Serif' rel='stylesheet' type='text/css'>
</head>

<div id=page>
  {% block body %}{% endblock %}
</div>

<div id=footer>sorami-h & ippei-y</div>
